
body{
    margin: 0;
    padding: 0;
    position: relative;
}
header{
    display: flex;
    justify-content: space-between;
    top: 0;
    background-color: white;
    width: 100%;
    height: 143px;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
hr{
    width: 65px;
    height: 1px;
    border:none;
    background-color: #ccc;
    color: #ccc;
}
footer{
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 77px;
    bottom: 0;
    color: #fff;
    font-size: 20px ;
}
.header-banner{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 50;
}
.menus{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:20px;
    margin: 20px 52px;
}
.menus{
    display: flex;
    justify-content: space-between;
}
.topbar{
    display: flex;
    align-items: flex-end;
}

.logo{
    margin:28px 29px 0 0 ;
    z-index:11;
    position: absolute;
    right: 0;
}
.top-nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.top-nav a{
    color:#7a7a7a;
    font-size: 15px;

}
.buttom-nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.buttom-nav a{
    color:#009b43;
    font-size: 21px;
    font-weight: 600;
}
.arabic, .english{
    color: #7a7a7a;
    margin: 0 10px;
}
.search{
    display: flex;
    flex-direction: row-reverse;
}

.search-input{
    width: 180px;
    height: 26px;
    font-size: 14px;
    border:none;
    border-bottom: 1px solid #aaa;
    outline: none;
    text-align: right;
    color: #009b43;
}
.search-input:focus{
    border-color: #009b43;
}
.search-input:focus + .search-icon{
    background-position: 5px -33px;

}

.search-icon{
    width:30px;
    height: 30px;
    background: white url(./assets/img/search-icons.bmp) 2px -1px no-repeat;;
    background-position: 5px -2px;
}

.active-language{
    color:#009b43;
    /* active language */
}
.slide-banner{
    width: 100%;
    max-width: 1170px;
    background:rgba(0, 0, 0, 0.8);
    padding-bottom: 20px;
}
.slide-banner-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 155px;

}
.slide-banner-title{
    color:#009b43;
    font-size: 36px;
    margin-bottom: 0;
    direction: rtl;

}
.slide-banner-text{
    color:#fff;
    font-size: 15px;
    direction: rtl;

}
#content2,#content3{
    display: none;
}
.show-content{
    animation: fadeIn 500ms;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* making the navigation arrows and dots*/
.slide-banner-nav{
    display: flex;
    justify-content: center;
    
}
.left-arrow,.right-arrow{
    width: 15px;
    height: 15px;
    border-left: 2px solid #fff;
    border-top:  2px solid #fff;
    cursor: pointer;
}
.right-arrow{
    transform: rotate(135deg);
    margin-left: 8px;
}
.left-arrow{
    transform: rotate(-45deg);
    margin-right: 8px;
}
.dots{
    display: flex;
    justify-content: space-between;
    width: 64px;
}
.dots div{
    width: 12px;
    height: 12px;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}
.active-dot{
    background-color: #fff;
}
.categories{
    display: flex;
    width: 100%;
}
.categories div{
    position: absolute;
    max-height: 650px;
}


.pepper{
    z-index: 15;
    right: 0;
}
.food{
    z-index: 16;
    right: calc(100%/3);
    transition: right 500ms ease;
}
.cleaning{
    z-index: 17;
    right: calc(200%/3);
    transition: right 500ms ease;
}
.nav-div{
    position: absolute;
    right: 0;
    bottom: 65px;
    width: 263px;
    height: 40px;
    padding: 15px 20px;
    background: rgba(0, 0, 0, 0.8);
    direction: rtl;
    display:flex;
    align-items: center;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    
}
.nav-next{
    position: absolute;
    left: 20px;    
    background:url(./assets/img/icons.png);
    background-position: -14px -75px;
    width: 16px ;
    height: 25px;
}


.details-section{
    margin: 690px auto 0 auto;
    max-width: 1220px;

}
.details{
    display: flex;
    flex-direction:row-reverse ;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.mission, .history, .about{
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 364px;
    width: calc(100%/3 - 20px);
}
.mission:hover,.history:hover,.about:hover{
    border: 1px solid #009b43;
}
.details-title{
    font-size: 26px;
    color: #009b43;
}
.mission-logo,.history-logo,.about-logo{
    width: 57px;
    height: 57px;
    background: transparent url(./assets/img/icons.png) top center no-repeat;
    margin: 35px 0 25px 0;
}
.about-logo{
    background-position: -155px -3px;
}
.mission-logo{
    background-position: -85px 0px;
}
.history-logo{
   background-position: -10px 0px;
}
.details-text{
    text-align: center;
    margin: 20px;
    font-size: 14px;
    color:#7a7a7a;
    direction: rtl;

}
.read-more a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 160px ;
    color: #009b43;
    border: 1px solid #009b43;
    direction: rtl;

}
.read-more a:hover{
    background-color: #009b43;
    color:#fff;
}
.products-section{
    max-width: calc(100% - 20px);
    margin: 20px auto;
}

.products{
    display: flex;
    flex-direction: column;
    align-items:center;
    border: 1px solid #ccc;
    margin: 10px auto;
    padding: 20px 15px;
    max-width: 1190px;
    height: 463px;
    position: relative;

}
.products-list-container{
    position: relative;
    overflow: hidden;
    width:  1110px;
    height: 100%;
}
.green-title{
    font-size:26px;
    color: #009b43;

}

.products-list{
    display: flex;
    width: 100%;
    position: absolute;
    padding: 0;
    left:0;
    bottom: 0;
    
}

.product{
    margin:0 8px;
    min-width: 206px;
}

.product a{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 205px;
    height: 350px;
    border: 1px solid #ccc;
    padding-top: 10px;
}
.product a:hover{
    border: 1px solid #009b43;
}
.product-title{
    font-size:15px;
    color: #009b43;
    direction: rtl;
    padding: 0 5px;
}

.product-quantity{
    color: #7a7a7a;
    font-size: 14px;
    direction: rtl;
    padding: 0 5px;


}
.product-details{
    color: #7a7a7a;
    font-size: 14px;
    margin: 14px 0;
    direction: rtl;
    padding: 0 5px;


}
.product-img{
    margin-top: 10px;
}
.left-arrow-green,.right-arrow-green{
    width: 24px;
    height: 36px;
    background: url(./assets/img/icons.png);
    position: absolute;
    cursor: pointer;
    z-index: 2;
}
.left-arrow-green{
    background-position: -230px -18px;
    left: 8px;
    top:50%
}
.right-arrow-green{
    background-position: -270px -18px;
    right: 8px;
    top:50%

}

.brands-news{
    display: flex;
    flex-direction: row-reverse;
    margin: 20px auto;
    max-width: 1220px;
    position: relative;
    justify-content: space-between;
    gap: 30px;
    margin: 20px auto;
}
.brands-news-section{
    max-width: calc(100% - 20px);
    margin: 0 auto;

}
.brands-section,.news-section{
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100%/2 - 10px);
    height: 412px;
    padding-top: 20px;
}

.brands > div{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-right: 20px;
}

.manara-text,.bekai-text{
    max-width: 50%;
    font-size: 15px;
    text-align: justify;
    color: #7a7a7a;
    margin-bottom: 20px;
    margin: 10px;
    direction: rtl;

}

.news > div{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 20px;
    margin-right: 20px;
    justify-content:flex-start;
    gap: 30px;
}
.news-title{
    color: #009b43;
    font-size: 20px;
}

.news-details{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.news-text{
    font-size: 15px;
    text-align: justify;
    color: #7a7a7a;
    margin-bottom: 20px;
    margin: 10px;
    direction: rtl;
}
.contact-title{
    font-size: 26px;
    margin-top: 20px;
}
.contact-text{
    margin:20px 0 40px 0;
    direction: rtl;
    text-align: center;
    width: 755px;
    
}
.contact-us-section{
    background:url(./assets/img/green-back.png);
    background-attachment: fixed;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.contact-us-section hr{
background-color: #fff;}
.contact-details-form{
    display: flex;
    width: 960px;
    max-width:965px;
    flex-direction: row-reverse;
    justify-content: space-between;

}
.contact-details{
    display: flex;
    flex-direction: row-reverse;
    margin:20px;
}
.contact-icons{
    background: url(./assets/img/icons.png);
    background-position: right center;
    width: 56px;
    height: 206px;
    margin-left: 40px;
}
.contact-location-time{
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.location-title,.time-title{
    font-weight: 600;
    direction: rtl;
}

.location-details, .time-details{
    font-size: 15px;
    direction: rtl;

}

.contact-form form{
    display: flex;
    flex-direction: column;
    max-width: 465px;
    direction: rtl;
    gap: 10px;
    align-items: flex-end;
}
.contact-form form button{
    cursor: pointer;
}
.contact-form form button:focus{
    background-color: #fff;
}
.contact-form input{
    width: 220px;
    height: 38px;
    border: 1px solid #fff;
    color: #fff;
    background-color: #009b43;
    
}
.name-phone,.email-subject{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.name-phone input:focus,.email-subject input:focus{
    background-color: #fff;
}
.message textarea{
    width: 458px;
    height: 110px;
    resize: none;
    background-color: #009b43;
    color: #fff;
    border: 1px solid #fff;
}
.message textarea:focus{
    background-color: #fff;
}
.contact-form button{
    width: 158px;
    height: 38px;
    background-color: #009b43;
    color: #fff;
    border: 1px solid #fff;
}

.rights{
    direction: rtl;

}
.social{
    display: flex;
    flex-direction: row-reverse ;
    gap: 20px;
}
.social li{
    background: transparent url(./assets/img/icons.png);
    width: 40px;
    height: 40px;
}
.social li:hover{
    opacity: 0.7;
}
.social li a{
    display: block;
    width: 100%;
    height: 100%;
}
.twitter{
    background-position: -177px -123px !important;
}
.facebook{
    background-position: -121px -123px !important;
}
.youtube{
    background-position: -66px -123px !important;
}
.instagram{
    background-position: -10px -123px !important;
}
#map{
    width: 100%;
    height: 650px;
}


@media only screen and (max-width: 1058px) {
    .menus{
        display: none;
    }
    .details{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 1122px;
    }
    .mission, .history, .about{
        width: calc(100% - 20px)
    }
    .brands-news{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .brands-news > div{
        width: 100%;
    }

}