body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    top: 0;
    background-color: white;
    width: 100%;
    height: 143px;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}
a{
    text-decoration: none;
}
.header-banner{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 50;
}
.menus{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:20px;
    margin: 20px 52px;
}
.menus .topbar{
    display: flex;
    justify-content: space-between;
}

.logo{
    margin:28px 29px 0 0 ;
    z-index:11;
    position: absolute;
    right: 0;
}
.top-nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.top-nav a{
    color:#7a7a7a;
    font-size: 15px;

}
.buttom-nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.buttom-nav a{
    color:#009b43;
    font-size: 21px;
    font-weight: 600;
}
.arabic, .english{
    color: #7a7a7a;
    margin: 0 10px;
}
.search{
    width: 180px;
    border:none;
    border-bottom: 1px solid #aaa;
}
.active-language{
    color:#009b43;
    /* active language */
}
.slide-banner{
    width: 100%;
    max-width: 1170px;
    background:rgba(0, 0, 0, 0.8);
    padding-bottom: 20px;
}
.slide-banner-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 155px;

}
.slide-banner-title{
    color:#009b43;
    font-size: 36px;
    margin-bottom: 0;
}
.slide-banner-text{
    color:#fff;
    font-size: 15px;
}
#second{
    display: none;
}
#third{
    display: none;
}

/* making the navigation arrows and dots*/
.slide-banner-nav{
    display: flex;
    justify-content: center;
    
}
.left-arrow,.right-arrow{
    width: 15px;
    height: 15px;
    border-left: 2px solid #fff;
    border-top:  2px solid #fff;
    cursor: pointer;
}
.right-arrow{
    transform: rotate(135deg);
    margin-left: 8px;
}
.left-arrow{
    transform: rotate(-45deg);
    margin-right: 8px;
}
.dots{
    display: flex;
    justify-content: space-between;
    width: 64px;
}
.dots div{
    width: 12px;
    height: 12px;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}
.active-dot{
    background-color: #fff;
}
.categories{
    display: flex;
    width: 100%;
}
.categories div{
    position: absolute;
    max-height: 650px;
}
.pepper{
    z-index: 15;
    right: 0;
}
.food{
    z-index: 16;
    right: calc(100%/3);
}
.cleaning{
    z-index: 17;
    right: calc(200%/3);
}
.details{
    display: flex;
    flex-direction:row-reverse ;
    align-items: center;
    margin: 690px auto 0 auto;
    max-width: 1190px;
}

.mission, .history, .about{
    border: 1px solid #ccc;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 364px;
    width: calc(100%/3);
}
.mission:hover,.history:hover,.about:hover,.read-more{
    border: 1px solid #009b43;
}
.details-title{
    font-size: 26px;
    color: #009b43;
}
.mission-logo,.history-logo,.about-logo{
    margin: 57px;
}
.details-text{
    text-align: center;
    margin: 20px;
    font-size: 14px;
    color:#7a7a7a;
}
.read-more{

}



@media only screen and (max-width: 1058px) {
    .menus{
        display: none;
    }
    .details{
        flex-direction: column;
        align-items: center;
    }
    .mission, .history, .about{
        width: calc(100% - 20px)
    }

}